:root {
    --verde-escuro: #2E5E3A;
    --bege: #2e5e3ad0;
    
    --dourado: #D4A017;
    --preto: #333333;
    --branco: #F5F0E6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bege);
    color: var(--preto);
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--branco);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.05);
}

/* Cabeçalho */
.header {
    padding: 30px;
    text-align: center;
    background: linear-gradient(rgba(46, 94, 58, 0.1), rgba(46, 94, 58, 0.05));
}

.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: solid 2px #2e5e3ae1;
    margin-bottom: 15px;
}

.header h1 {
    font-family: 'Playfair Display', serif;
    color: var(--verde-escuro);
    margin-bottom: 10px;
    font-size: 1.8rem;
}

.header p {
    color: var(--preto);
    opacity: 0.8;
    font-size: 0.9rem;
}

/* Destaque */
.destaque {
    padding: 15px;
    background-color: var(--verde-escuro);
    color: var(--branco);
    text-align: center;
    font-style: italic;
    font-weight: 600;
    margin: 0 20px;
    border-radius: 8px;
    position: relative;
    top: -15px;
    box-shadow: 0 3px 10px rgba(46, 94, 58, 0.4);
}

/* Serviços */
.servicos {
    padding: 20px;
}

.servicos h2 {
    color: var(--verde-escuro);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.servico-card {
    background-color: var(--branco);
    border: 1px solid rgba(46, 94, 58, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: all 0.3s ease;
}

.servico-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(46, 94, 58, 0.1);
    border-color: var(--dourado);
}

.servico-card h3 {
    color: var(--verde-escuro);
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.servico-card p {
    color: var(--preto);
    opacity: 0.8;
    font-size: 0.9rem;
}

/* Contato */
.contato {
    padding: 20px;
}

.contato h2 {
    color: var(--verde-escuro);
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}

.whatsapp-btn {
    margin-left: 8%;
    display: block;
    background-color: #0f7e37;
    color: var(--branco);
    text-align: center;
    width: 85%;
    padding: 12px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #128C7E;
    transform: translateY(-2px);
}

.whatsapp-btn i {
    margin-right: 10px;
}

.telefones p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    color: var(--preto);
}

.telefones i {
    color: var(--verde-escuro);
}

/* Localização */
.localizacao {
    padding: 20px;
}

.localizacao h2 {
    color: var(--verde-escuro);
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.4rem;
}

.local-card {
    background-color: var(--branco);
    border: 1px solid rgba(46, 94, 58, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}

.local-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px rgba(46, 94, 58, 0.1);
    border-color: var(--dourado);
}

.local-card h3 {
    color: var(--verde-escuro);
    margin-bottom: 5px;
    font-size: 1.1rem;
}

.local-card p {
    color: var(--preto);
    opacity: 0.8;
    font-size: 0.9rem;
}

/* Rodapé */
.footer {
    padding: 20px;
    text-align: center;
    background-color: var(--verde-escuro);
    color: var(--branco);
}

.footer a {
    color: var(--dourado);
    text-decoration: none;
    font-weight: 600;
}
